@import "tailwindcss";
@import "@nuxt/ui";


@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}
-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary-primary
@theme {
  --color-surface-50: #f3f5f6;
  --color-surface-100: #e7eaed;
  --color-surface-200: #cfd4dd;
  --color-surface-300: #abb7c9;
  --color-surface-400: #7c92b5;
  --color-surface-500: #506f9f;
  --color-surface-600: #385584;
  --color-surface-700: #273f67;
  --color-surface-800: #1a2d4c;
  --color-surface-900: #111f35;
  --color-surface-950: #0a121f;

  --color-primary: oklch(56.262% 0.20195 13.152);
}

html {
  font-size: var(--font-size-base, 15px);
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: white;
  color: var(--color-surface-900);
}

.dark body {
  background-color: var(--color-surface-900);
  color: white;
}

* {
  user-select: none;
}


.dark {
  --color-gray-900: var(--color-surface-800);
  --color-gray-800: var(--color-surface-700);
  --color-gray-700: var(--color-surface-600);
  --color-gray-600: var(--color-surface-500);
}
