@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-accent-50: #fdf2f4;
  --color-accent-100: #fce7eb;
  --color-accent-200: #f9d0d9;
  --color-accent-300: #f4a9b9;
  --color-accent-400: #ed7694;
  --color-accent-500: #D02752;
  --color-accent-600: #bf2249;
  --color-accent-700: #a11d3f;
  --color-accent-800: #871b3a;
  --color-accent-900: #741b36;
  --color-accent-950: #410a1a;

  --color-surface-50: #f3f5f6;
  --color-surface-100: #e7eaed;
  --color-surface-200: #cfd4dd;
  --color-surface-300: #abb7c9;
  --color-surface-400: #7c92b5;
  --color-surface-500: #506f9f;
  --color-surface-600: #385584;
  --color-surface-700: #273f67;
  --color-surface-800: #1a2d4c;
  --color-surface-900: #111F35;
  --color-surface-950: #0a121f;

  --color-primary: oklch(56.262% 0.20195 13.152);
--color-primary-50: oklch(84.747% 0.06448 1.3462);
--color-primary-100: oklch(81.004% 0.08241 2.6317);
--color-primary-200: oklch(73.827% 0.11968 4.327);
--color-primary-300: oklch(66.956% 0.15683 6.1397);
--color-primary-400: oklch(61.3% 0.18887 9.459);
--color-primary-500: oklch(56.262% 0.20195 13.152);
--color-primary-600: oklch(46.7% 0.16531 12.87);
--color-primary-700: oklch(36.661% 0.12643 11.718);
--color-primary-800: oklch(25.697% 0.08247 10.016);
--color-primary-900: oklch(13.852% 0.03175 1.2983);
--color-primary-950: oklch(0% 0 none);
}

body {
  font-family: "Poppins", sans-serif;
  user-select: none;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #f9fafb;
}

.dark body {
  background-color: var(--color-surface-900);
}